/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
CSS Reseted

*/
.header_top{
    height: 40px;
    background-color: #709b1d;
}
.wrap{
    width: 73%;
    margin: 0 auto;
}
.top_nav{
    width: 60%;
    display: inline-block;
}

.top_nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.top_nav li{
    float: left;
}
.top_nav li a {
    display: block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
.top_nav li a:hover{
    background-color: #ffffff;
    padding: 8px;
    border-radius: 0 0 4px 4px;
}

.options_nav{
    display: inline-block;
    width: auto;
    float: right;
}

.options_nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.options_nav li{
    float: right;
    padding: 12px;
}

.header_center{
    height: 90px;
    background-color: #ffffff;
}
.logo_holder{
    display: inline-block;
    padding-right: 30%;
    padding-top: 32px;
    padding-bottom: 33px;
}
.graphiclogo{
    display: inline-block;
}

.users_controls_login{
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 8px;
}
.users_controls_wishlist{
    display: inline-block;
    margin-bottom: 32px;
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
}
.users_controls_cart{
    display: inline-block;
    margin-bottom: 32px;
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
}

.header_bottom{
    height: 38px;
    background-color: #f3f3f3;
}

.category_nav{
    padding-top: 2px;
    padding-bottom: 2px;
}
.category_nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}
.category_nav li {
    float: left;
}
.category_nav li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.category_nav li a:hover{
    background-color: #709b1d;
    padding: 12px;
    border-radius: 4px 4px 4px 4px;
}
.category_nav .search_container{
    float: right;
}
.category_nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 12pt;
    border: none;
    margin-bottom: 8px;
}
.category_nav .search-container button {
    
    padding:6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}  
.category_nav .search-container button:hover {
    background: #ccc;
}

.slideshow_container {
    max-width: 100%;
    position: relative;
    margin: auto;
}  
.slide_item img{
    min-width: 100%;
    height: auto;
}
.prev_main, .next_main{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 8px;
}
.next_main{
    right: 0;
}
.dot_container{
    text-align: center;
    margin-top: 0;
    background-color: #f6ffe4;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #709b1d;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #4b6e08
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}
#advantagesSection{
    height: 96px;
    background-color: #709b1d;
}
.advantages__container{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    width: 23%;
    height: 73px;
    background-color: #83b228;
    margin-top: 11px;
    margin-bottom: auto;
    
}
.advantages__item h3{
    margin-top: 20px;
    font-size: 12px;
}
.advantages__item p{
    margin-top: 8px;
    font-size: 8px;
}
.advantages__item img{
    float: left;
    margin-top: 19px;
    margin-left: 15px;
    padding-right: 11px;
}

.products_first{
    padding-top: 86px;
    padding-bottom: 90px;
}
.products_navbar{
    display: flex;
    justify-content: space-between;
}
.prev, .next{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 3px;
    background-color: #ffffff;
    color: #a1d738;
}
.products_navbar{
    background-color: #709b1d;
}
.products_navbar ul{
    list-style-type: none;
}
.products_navbar ul li{
    padding: 9px 10px 14px;
    float: left;
}
.products_carousel{
    padding-top: 41px;
}

.product_wrapper{
    display: flex;
    justify-content: space-between;
}
.product_item{
    width: 33%;
}

.sale{
    padding-bottom: 86px;
    display: flex;
}
.sale div{
    margin: 4px;
}
.sale div img{
    max-width: 100%;
    height: auto;
}
.subscription{
    height: 252px;
    background-color: #62871c;
    display: flex;
    justify-content: center;
}
.subscription div{
    margin-top: 54px;
    
}
.subscription div p{
    margin-top: 24px;
}
.subscription div form{
    margin-top: 32px;
}
.subscription div input[type="email"]{
    padding: 8px 28px;
    width: 478px;
    border: 3px solid #557c08;
    border-radius: 4px;
}
.subscription div input[type="button"]{
    padding: 8px 28px;
    margin-left: -4px;
    border: 3px solid #557c08;
    border-radius: 4px;
    background-color: #d0dcb7;
    color: #557c08;
    cursor: pointer;
}
.brands{
    padding-bottom: 54px;
}
.brandref_container{
    display: flex;
    justify-content: center;
    padding-bottom: 27px;
}
.brandlogo_container{
    display: flex;
    justify-content: space-between;
}
.brandref_container button{
    padding: 11px 30px;
    border: none;
    border-radius: 2px;
    background-color: #709b1d;
    cursor: pointer;
}
.footer_top{
    height: 252px;
    background-color: #f1f1f1;
}

.foot_container{
    padding-top: 56px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
}
.cont_item{
    text-align: left;
}
.cont_item h1{
    padding-bottom: 11px;
    border-bottom: 2px solid #000000;
}
.footer_middle{
    background-color: #e0e0e0;
    height: 53px;
}
.creditandsocials{
    display: grid;
    grid-template-columns: 50% 50%;
}
.creditandsocials_item ul{
    list-style-type: none;
    margin-top: 8px;
}
.creditandsocials_item li{
    float: left;
    display: block;
    text-align: center;
    
}
/*
.creditandsocials_item li a{
    background-color: #709b1d;
    color: #e0e0e0;
}*/
.creditandsocials_item li button{
    padding: 11px 30px;
    border: none;
    border-radius: 2px;
    background-color: #709b1d;
    cursor: pointer;
}
.footer_bottom{
    text-align: center;
    background-color: #709b1d;
    height: 50px;
}
/*    */

.cap{
    width: 100%;
    height: 33px;
    margin-top: 16px;
    background-color: #709b1d;
}
.description_container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 60% 40%;
}
.flex_container{
    display: flex;
    justify-content: space-between;
}
.flex_item{
    padding: 8px 0 8px 0;
}
.thumbnails_carousel{
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 12px 21px;
    border: 1px solid #cfcfcf;
    border-radius: 1px;
}
.gallery_mini{
    display: flex;
    justify-content: center;
   
}
.prev_mini, next_mini{
    cursor: pointer;
    
    padding: 5px;
}
/*
next_mini{
    right: 0;
}*/





@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}  
@media only screen and (max-width: 900px){
      #carouselMain{display: none;}
}
